<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Comment/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-comment"></i>
            <div data-i18n="Comments">Yorumlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Destination/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-plane-alt"></i>
            <div data-i18n="Cities">İller(Halısahalar)</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="guests.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-user"></i>
            <div data-i18n="Guests">Misafirler</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="messages.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-message"></i>
            <div data-i18n="Messages">Mesajlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="team.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-group"></i>
            <div data-i18n="Team">Ekibimiz</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="featured.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-star"></i>
            <div data-i18n="Featured">Öne Çıkanlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="featured.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-navigation"></i>
            <div data-i18n="Featured">Referanslar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="featured.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-abacus"></i>
            <div data-i18n="Featured">Alt Hakkında</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="featured.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-ghost"></i>
            <div data-i18n="Featured">Rezervasyonlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="featured.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxl-mailchimp"></i>
            <div data-i18n="Featured">Mail Listesi</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="featured.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-star"></i>
            <div data-i18n="Featured">Öne Çıkanlar 2</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="featured.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-key"></i>
            <div data-i18n="Featured">Şifre İşlemleri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/admin/role/index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-key"></i>
            <div data-i18n="Analytics">Rol İşlemleri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/login/logout/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-exit"></i>
            <div data-i18n="Analytics">Çıkış yap</div>
        </a>
    </li>
</ul>
